<html>
  <head>
    <title>wondr</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body class="home">
    <div class="site">
      <header id="header" class="header-container">
        <div class="site-header">
          <div class="site-info">
            <h1 class="site-title title">Wondr</h1>
            <p class="site-description">Thoughts on <a href="https://www.r-project.org/">R programming</a> by <a href="https://tailrecursion.com/~alan/">Alan Dipert</a>.</p>
          </div>
        </div>
      </header>
      <div class="main">
        <section id="list" class="list-container">
          <h2 class="list-title title">Posts</h2>
          <div class="list">
            $posts$
          </div>
          <nav class="list" data-sblg-nav="1"></nav>
        </section>
      </div>
    </div>
  </body>
</html>
